body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    margin-top: 50px;
    display: inline-block;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 8px;
}
